fastapi
uvicorn[standard]

edge-tts

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters

faiss-cpu

python-dotenv
pydantic
numpy

requests
rich

tavily-python
cohere
