fastapi
edge-tts

uvicorn[standard]
langchain
langchain-groq
langchain-community
langchain-core
sentence-transformers
langchain-text-splitters
faiss-cpu
python-dotenv
pydantic
numpy
torch
transformers
requests
rich
tavily-python
cohere
langchain-huggingface
